.extraInformationSection {
  width: 100%;
  background-color: black;
  padding: 24px 0;

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .linkBlock {
      display: flex;
      align-items: center;
      height: 48px;
      padding: 0 24px;
      color: white;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      border-radius: 36px;
      border: 1px solid #464646;
      box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.16);
    }
    @media (max-width: 1000px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      .linkBlock {
        margin-right: 7px;
        margin-bottom: 7px;
      }
    }
  }
}
