.footerSection {
  padding: 60px 0;
}

.footerNavigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.footerBlock div:first-child {
  display: flex;
  align-items: center;
}

.extraNavigationBlock {
  display: flex;
  flex-direction: column;
  & > div:not(:last-child) {
    margin-bottom: 57px;
  }
}
