.header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
  z-index: 10;
  position: relative;

  .searchBlock {
    display: flex;
    .headerIcon {
      margin-right: 125px;
    }
    .searchInputBlock {
      position: relative;
      margin-right: 24px;

      .searchIcon {
        position: absolute;
        left: 16px;
        top: 11px;
        z-index: 1;
      }
      .searchInput {
        width: 344px;
        padding: 0px 52px;
        height: 100%;
        border-radius: 12px;
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.36);
        &::placeholder {
          color: #181818;
        }
      }
      @media (max-width:1200px) {
        .searchInput{
        width: 240px;
          
        }
      }
    }
    @media (max-width:1200px) {
      .headerIcon{
        margin-right: 40px;
      }
    }
  }
 
}
