.navigationBlock {
    display: flex;
    flex-direction: column;
    .title {
      color: #1a1a1a;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 17px;
    }
    .subTitle{
        color: #464646;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
    .subTitle:not(:last-child) {
      margin-bottom: 25px;
    }
  }